<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.java.todo.mapper.TodoMapper">
	<!-- 입력할 번호 조회(max+1) -->
	<select id="getTodoNo" resultType="TodoVO">
		SELECT NVL(MAX(no),0)+1 as no
		FROM todo
	</select>

	<!-- 전체조회 -->
	<select id="getTodoList" resultType="TodoVO">
		SELECT * FROM todo ORDER BY no
	</select>

	<!-- 단건조회 -->
	<select id="getTodoInfo" resultType="TodoVO">
		SELECT no, id, contents, todoyn
		FROM todo
		<where>
			no = #{no}
			<if test="id!=null">
				AND id = #{id}
			</if>
		</where>
	</select>

	<!-- 등록 -->
	<insert id="insertTodo" parameterType="TodoVO">
		<selectKey keyProperty="no" resultType="Integer" order="BEFORE">
			SELECT NVL(MAX(no),0)+1 as no FROM todo
		</selectKey>

		INSERT INTO todo(
		no
		, id
		<if test="contents!=null">
			, contents
		</if>
		)
		VALUES (
		#{no}
		,#{id}
		<if test="contents!=null">
			,#{contents}
		</if>
		)
	</insert>

	<!-- 수정 -->
	<update id="updateTodo" parameterType="TodoVO">
		UPDATE todo
		<set>
			todoyn= #{todoyn}
		</set>
		WHERE no=${no} 
	</update>

	<!-- 삭제 -->
	<delete id="deleteTodo" parameterType="Integer">
		DELETE FROM todo
		WHERE
		no=#{no}
	</delete>
</mapper>